# Byte-compiled / optimized / DLL files
# Ignore Python and Jupyter cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# DotEnv configuration
.env

# C extensions
*.so

# Ignore data files (optional, especially if large)
data/raw/
data/interim/
data/processed/
data/external/

# exclude data from source control by default
/data/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Airflow runtime logs and meta-data
airflow/logs/
airflow/airflow-webserver.pid
airflow/airflow.cfg
airflow/unittests.cfg
# Optional: Exclude Airflow SQLite DB if present
airflow/airflow.db
airflow/airflow.db-journal